.root {
    -fx-background: gray;
    -fx-effect: dropshadow(three-pass-box, black, 30, 1.5, 1, 1);
    -fx-font-size: 15 px;
    -fx-font-family: "Consoles";
    -fx-text-fill: #FFFFFF;
}


#pagethree{
    -fx-font-size: 15 px;
}

#page523{
    -fx-font-size: 12 px;
}
#pagesix{
    -fx-font-size: 15 px;
}

#playerButton{
    -fx-background-color: transparent;
}

.progress-bar .bar {
    -fx-background-radius: 5;
    -fx-background-color: black;
}

.progress-bar .track {
    -fx-background-color: grey;
}

.slider .track {
    -fx-background-color: transparent;
}

#Bigtext{
    -fx-font-size: 23 px;
    -fx-font-family: "Consoles";
    -fx-text-fill: #FFFFFF;
}

.button {
    -fx-font-size: 15 px;
    -fx-font-family: "Consoles";
    -fx-base: #63b0e3;
}
#root1 {
 -fx-background-color:  linear-gradient(lightgray, gray);
 /* -fx-border-color: white;
 //-fx-border-radius: 1500;
 -fx-padding: 10 10 10 10;
 -fx-background-radius: 1000;*/

}

#bp1 {
 -fx-background-color:  linear-gradient(gray,DimGrey );

}

#btnLogin1 {

    -fx-font-size: 15 px;
    -fx-font-family: "Consoles";
    -fx-background-color: linear-gradient(orange, orangered );
}

#text1 {
 -fx-text-fill:  linear-gradient(orange , orangered);
 -fx-font-size: 53 px;
}
