.root {
    -fx-background: #007bbd;
    -fx-effect: dropshadow(three-pass-box, black, 30, 1.5, 1, 1);
    -fx-font-size: 15 px;
    -fx-font-family: "Consoles";
    -fx-text-fill: #FFFFFF;
}


#pagethree{
    -fx-font-size: 15 px;
}

#pagesix{
    -fx-font-size: 15 px;
}

#Bigtext{
    -fx-font-size: 18 px;
    -fx-font-family: "Consoles";
    -fx-text-fill: #FFFFFF;
}

.button {
    -fx-font-size: 15 px;
    -fx-font-family: "Consoles";
    -fx-base: #63b0e3;
}

#Bluetooth{
    -fx-background-image: url("../Images/searching.gif");
    -fx-background-repeat: stretch;
    -fx-background-size: auto;
    -fx-background-position: center center;
}
