.root {
    -fx-background: #007bbd;
    -fx-effect: dropshadow(three-pass-box, black, 30, 1.5, 1, 1);
    -fx-font-size: 15 px;
    -fx-font-family: "Consoles";
    -fx-text-fill: #FFFFFF;
}


#pagethree{
    -fx-font-size: 15 px;
}

#pagesix{
    -fx-font-size: 15 px;
}

#playerButton{
    -fx-background-color: transparent;
}

.progress-bar .bar {
    -fx-background-radius: 5;
    -fx-background-color: black;
}

.progress-bar .track {
    -fx-background-color: grey;
}

.slider .track {
    -fx-background-color: transparent;
}

#Bigtext{
    -fx-font-size: 23 px;
    -fx-font-family: "Consoles";
    -fx-text-fill: #FFFFFF;
}

.button {
    -fx-font-size: 15 px;
    -fx-font-family: "Consoles";
    -fx-base: #63b0e3;
}
