.root {
    -fx-background: #0079B9;
    -fx-effect: dropshadow(three-pass-box, black, 30, 1.5, 1, 1);
    -fx-font-size: 20 px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: #FFFFFF;
}


#pagethree{
    -fx-font-size: 18 px;
}

#pagesix{
    -fx-font-size: 18 px;
}

#Bigtext{
    -fx-font-size: 35 px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: #FFFFFF;
}

.button {
    -fx-font-size: 20px;
    -fx-font-family: "Arial Black";
    -fx-base: #2ecc71;
}

#Bluetooth{
    -fx-background-image: url("02.gif");
    -fx-background-repeat: stretch;
    -fx-background-size: 700 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 1.5, 1, 1);
    fx-font-size: 80px;
    -fx-font-family: "Arial Black";
    -fx-base: #00CCFF;
}
